/* You can add global styles to this file, and also import other style files */
@use './config-scss/reset.scss';
@use './config-scss/variables.scss';


html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
    max-width: 1300px;
    margin: 0 auto;


}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
